[workspace]
resolver = "2"
members = ["crates/*"]

[profile.dev]
debug = 0
panic = "abort"

[profile.release]
incremental = true
opt-level = 2
panic = "abort"

[profile.dev.package.'*']
opt-level = 3
